body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #2c3e50;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
}

.profile-link:hover {
  color: #ecf0f1;
}

.logout-btn {
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.profile-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.profile-info {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info p {
  margin: 10px 0;
  font-size: 16px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar li:hover {
  background: #2c3e50;
}

/* DASHBOARD LAYOUT */

.dashboard-body {
  display: flex;
}

.dashboard-content {
  padding: 20px;
  flex: 1;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .sidebar {
    width: 150px;
  }

  .navbar h2 {
    font-size: 18px;
  }
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* background */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

/* card */

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* icon */

.lock-icon {
  font-size: 35px;
  color: #4facfe;
  margin-bottom: 10px;
}

/* inputs */

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* button */

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #4facfe;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #3a8de0;
}

/* links */

.auth-card p {
  margin-top: 15px;
}

.auth-card span {
  color: #4facfe;
  cursor: pointer;
  font-weight: bold;
}
